html {
    background-color: rgb(38, 35, 53);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    color: white;
    width: 100%;
    height: 100%;
}

body {
    margin: 32px;
    width: calc(100% - 64px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

div#products {
    display: inline-block;
}

div#products > p {
    margin: 0.5em 0.5em;
}

#keyTextArea {
    word-break: break-all;
    resize: none;
    height: 80%;
}

.left, .right {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.row {
    display: flex;
}

button#copy {
    margin: 16px;
    padding: 16px;
    font-size: 150%;
    font-weight: bold;
    background-color: rgb(70, 52, 101);
    border-radius: 20px;
    transition: 0.2s;
    border: none;
}

button#copy:hover {
    cursor: pointer;
    background-color: rgb(94, 78, 121);
    transition: 0.2s;
    border: none;
}

#output > p {
    font-size: x-large;
}

h1 {
    font-size: 250%;
}